@import "variables";
@import "mixin";

html {
	overflow-y: scroll; /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
	/*Internet Explorerが独自に追加したプロパティ*/
	/*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}
/* リセットおまじない--------------------------------- */

body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}
li {
	list-style: none;
}
a {
	outline: none;
	color: inherit;
    text-decoration: none;
}

img {
	border: 0px;
	vertical-align: bottom;
}
/* --------------------------------------------------- */

body {
	font-family: 'Noto Serif JP','Noto Sans JP', serif, sans-serif;
    color:#3b4043;
}

h1{
    font-size: 36px;
    margin: 24px;
	text-align: center;
}
h2{
    font-size: 24px;
    margin: 16px 0 24px;
	text-align: center;
}
h3{
    font-size: 20px;
	font-family: "Noto serif JP";
    margin: 16px 0 24px;
	text-align: center;
}
h4 {
    font-family: "Noto Serif JP";
}
p{
    text-align: left;
	font-family: "Noto Serif JP";
}

.pc-none {
    display: none;
}

@include mq(sp){
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    
    h3 {
        font-size: 16px;
    }
    
    h4 {
        font-size: 14px;
    }
    
    p {
        font-size: 14px;
    }
    
    span {
        font-size: 12px;
    }

    .pc-none{
        display: block;
    }

    .mobile-none {
        display: none;
    }

}