@import "variables";
@import "common";
@import "mixin";
@import "modules";


.article {
    background: rgba(121, 179, 246, 0.46);
    width: 100vw;
    height: 100%;
}

/* -front-page.php */
#sec1-title {
    color: $black;
    @include mq(sp) {}
}
#sec1-title h1{
    padding:60px 0 0 0 ;
    margin: 0 auto;
    font-weight: bold;
    @include mq(sp) {
        padding: 0;
        margin: 0 auto;
    }
}
#sec1-title .text{
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
    font-size: 24px;
}

// main
.main {
    width: 100%;
    margin: 0 auto;
}

.main-flex {
    display: flex;
    flex-flow: column;
}

.top-wrap {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 24px;
    @include mq(sp) {
        padding: 0 20px;
    }
}

.top-wrap p {
    text-align: center;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.top-card-wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    @include mq(sp) {
        display: block;
        width: 100%;
    }
}

.top-card {
    width: 325px;
    height: 235px;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    background-color: #f3f3f3;
    margin-bottom: 40px;
    margin-left: calc(((1100px - 975px) / 6));
    margin-right: calc(((1100px - 975px) / 6));
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    @include mq(sp) {
        width: 100%;
        margin-bottom: 16px;
    }
    &__title {
        font-size: 24px;
        margin-top: 40px;
    }
}

.top-card p {
    font-size: 20px;
    width: 90%;
}

.top-card img {
    width: 30%;
    aspect-ratio: 1/1;
    margin-top: 16px;
}

// 事業所一覧 archive-$slug.php

.office-card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    @include mq(sp) {
        display: block;
        width: 100%;
    }
}

.office-card {
    width: 325px;
    height: 235px;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    background-color: #f3f3f3;
    margin-bottom: 40px;
    margin-left: calc(((1100px - 975px) / 6));
    margin-right: calc(((1100px - 975px) / 6));
    display: flex;
    flex-flow: column;
    justify-content: center;
    @include mq(sp) {
        width: 100%;
        margin-bottom: 16px;
    }
}
.office-card__title {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    font-family: "Noto serif JP";
    padding-left: 16px;
    line-height: 1.8;
}
.office-card__txt {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    font-family: "Noto serif JP";
    padding-left: 16px;
    margin-bottom: 12px;
    line-height: 1.8;
}

// 事業所詳細 single-$slug.php
.detail-wrap{
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.detail-card-wrap{
    display: flex;
    padding-top: 80px;
    column-gap: 34px;
}

.detail_img{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 50%;
}

.detail-card{
    display: flex;
    flex-flow: column;
    width: 500px;
    row-gap: 32px;
    margin-bottom: 32px;
    &__box {
        border-bottom: 1px solid #A1A1A1;
        margin-bottom: 32px;
        background-color: $white;
    }
    &__title {
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 32px;
    }
    &__txt {
        font-family: 'Noto Sans JP';
        text-align: left;
        &__area {
            white-space: pre-wrap;
        }
    }
}

.detail-card a {   
	color:#0062ff;
}
.detail-card a:hover {   /*マウスが上に乗っている状態*/
	color:#0062ff;
	text-decoration: underline;
}

 /* ---searchform.php--- */

.search {
    display: flex;
    flex-flow: column;
    max-width: 1100px;
    width: 60%;
    // height: 48px;
    align-items: start;
    justify-content: center;
    background-color: $white;
    margin: 0 auto;
    padding: 4px 16px;
    margin-bottom: 40px;
    font-size: 20px;
}

 /* ---検索ボックス--- */

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 40px;
    border: 1px solid #777777;
    border-radius: 10px;
}

.search-form input {
    width: 250px;
    height: 32px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form input::placeholder{
    color: #777777;
}

.search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form button::after {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23777777'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: '';
}

/* ---header--- */

header {
    font-family: 'Noto Serif JP';
    background-color: rgba(255,204,153,1.0);
}

header a {
    color: $black;
    font-weight: bold;
}
header p {
    color: $black;
    font-weight: bold;
}

 /* ---footer--- */
footer{
    height: 30px;
    line-height: 30px;
    background-color: #6f7579;
    color: #ffffff;
    font-size: 14px;
    text-align: center;

}
footer .copyright{
    text-align: center;
}

#pagetop{
    display: none;
    position: fixed;
    right: 20px;
    bottom: 50px;
}

// archive-outdoors
.outdoors-content {
    display: flex;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 24px;
    margin: 0 auto;
    @include mq(sp) {
        width: 100%;
    }
}
.outdoors-card {
    width: 300px;
    background-color: #f3f3f3;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    padding: 8px;
    @include mq(sp) {
        width: 90vw;
    }
    &__img {
        width: 100%;
        margin-bottom: 12px;
    }
    &__txt {
        font-size: 16px;
        text-align: start;
    }
}

// single-outdoors.php
.outdoors-single {
    width: 600px;
    // aspect-ratio: 1;
    background-color: #f3f3f3;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    margin-top: 40px;
    padding: 16px;
    @include mq(sp) {
        width: 90%;
    }
    &__img {
        width: 100%;
        margin-bottom: 20px;
    }
    &__txt {
        font-size: 14px;
        font-weight: bold;
        text-align: start;
    }
}


// 新規投稿
.blogpost-form-wrap {
    margin: 0 auto;
    padding-top: 80px;
}

// single.php表示

.thumb{
    text-align:center;
}
.thumb img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    margin-bottom: 20px;
}