@import "variables";
@import "common";
@import "mixin";
@import "modules";

/* ---section1(first view)--- */
#sec1-firstview{
    height: 450px;
    padding: 40px 0;
    background: url(../img/aurora.jpg)no-repeat center center;
    background-size: cover;
    color: $white;
    @include mq(sp) {}
}
#sec1-firstview h1{
    padding:55px 0 0 0 ;
    @include mq(sp) {
        padding: 0;
        margin: 0 auto;
    }
}
#sec1-firstview p{
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

// main
.main {
    width: 100%;
    margin: 0 auto;
}
.outdoors-wrap {
    padding: 50px 40px;
    @include mq(sp) {
        padding: 50px 20px;
    }
}
.outdoors-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 640px;
    margin: 36px auto 0;
    padding: 0 12px;
    background-color: #f3f3f3;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    &__content{
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding:24px 0 12px 0;
        line-height: 1.5;
        @include mq(sp) {
            // align-items: center;
            width: 100%;
            margin: 0 auto;
        }
    }
    &__txt {
        font-weight: bold;
    }
    &__line {
        background-color: rgb(93, 92, 92);
        height: 0.8px;
        width: 288px;
        @include mq(sp) {
            width: 90pw;
        }
    }
}

.outdoors-top a:hover {   /*マウスが上に乗っている状態*/
	color:$blue;
	// text-decoration: underline;
}

// sidebar
.main-flex {
    display: flex;
    flex-direction: row-reverse;
}
.top-wrap {
    width: calc(100% - 136px);
    @include mq(sp) {
        width: 100%;
    }
}

/* ---sec4(newblog)--- */
#sec4-newblog {
    padding: 50px 40px;
}

.blog-content {
    display: flex;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 24px;
    margin: 0 auto;
    @include mq(sp) {
        display: block;
        width: 100%;
    }
}

.blog-card {
    width: 300px;
    background-color: #f3f3f3;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    padding: 8px;
    @include mq(sp) {
        width: 100%;
        margin-bottom: 16px;
    }
    &__img {
        width: 100%;
        margin-bottom: 10px;
    }
    &__txt {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        align-items: center;
    }
}

 /* ---footer--- */
footer{
    height: 30px;
    line-height: 30px;
    background-color: #6f7579;
    color: #ffffff;
    font-size: 14px;
    text-align: center;

}
footer .copyright{
    text-align: center;
}

#pagetop{
    display: none;
    position: fixed;
    right: 20px;
    bottom: 50px;
}

// archive-outdoors
.outdoors-content {
    display: flex;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 24px;
    margin: 0 auto;
    @include mq(sp) {
        width: 100%;
    }
}
.outdoors-card {
    width: 300px;
    background-color: #f3f3f3;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    padding: 8px;
    @include mq(sp) {
        width: 90vw;
    }
    &__img {
        width: 100%;
        margin-bottom: 12px;
    }
    &__txt {
        font-size: 16px;
        text-align: start;
    }
}

// single-outdoors.php
.outdoors-single {
    width: 600px;
    // aspect-ratio: 1;
    background-color: #f3f3f3;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    margin-top: 40px;
    padding: 16px;
    @include mq(sp) {
        width: 90%;
    }
    &__img {
        width: 100%;
        margin-bottom: 20px;
    }
    &__txt {
        font-size: 14px;
        font-weight: bold;
        text-align: start;
    }
}

.outdoors-single a {   
	color:#0062ff;
}
.outdoors-single a:hover {   /*マウスが上に乗っている状態*/
	color:#0062ff;
	text-decoration: underline;
}

//archive-ouchi.php

.ouchi-content {
    width: 80%;
    margin: 0 auto;
    @include mq(sp) {
        width: 100%;
    }
}

.table_list thead th {
    background: #d8ca0c;
    padding: 4px 32px 2px;
    border-bottom:#FFF solid 1px;
    color: $white;
    font-size: 16px;
    // font-weight: bold;
    @include mq(sp) {
        display: none;
    }
}

.table_list tbody th {
	// background:#e3dd88;
	// color: #0062ff;
	padding: 8px 8px;
	border-bottom: $white solid 1px;
	vertical-align:middle;
    @include mq(sp) {
        display: block;
        border-bottom: 0px;
    }
}

.table_list tbody tr:last-child th {
	border-bottom:#FFF solid 1px;
}

.table_list tbody td {
	// background:#FFF;
	padding:8px 16px;
	line-height: 1.2;
	// border-bottom:#3EB1C6 solid 1px;
	vertical-align:middle;
    @include mq(sp) {
        display: block;
        line-height: 1;
        padding: 4px 16px;
    }
}

.table_list tbody tr:nth-child(even){
    background-color: $gray;
}

.table_list tbody tr:nth-child(odd){
    @include mq(sp) {
        background-color: $gray;
    }
}

td.table-photo {
    width: 10%;
    margin: auto;
    font-weight: bold;
    text-align: center;
    @include mq(sp) {
        margin: inherit;
        width: 100%;
    }
}

td.table-photo a {  
	color:$blue;
}
td.table-photo a:hover {   /*マウスが上に乗っている状態*/
	color:$blue;
	text-decoration: underline;
}

//archive-oniwa.php
.oniwa-card {
    width: 200px;
    // aspect-ratio: 1;
    background-color: #f3f3f3;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    padding: 6px;
    @include mq(sp) {
        width: 100%;
    }
    &__title {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    &__img {
        width: 100%;
        margin-bottom: 8px;
    }
    &__txt {
        font-size: 14px;
        text-align: start;
    }
}

// 新規投稿
.blogpost-form-wrap {
    margin: 0 auto;
    padding-top: 80px;
}

// single.php表示

.thumb{
    text-align:center;
}
.thumb img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    margin-bottom: 20px;
}