@charset "UTF-8";
html {
  overflow-y: scroll;
  /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
  /*Internet Explorerが独自に追加したプロパティ*/
  /*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}
/* リセットおまじない--------------------------------- */
body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
  margin: 0px;
  padding: 0px;
}
body {
  background: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
}
li {
  list-style: none;
}
a {
  outline: none;
  color: inherit;
  text-decoration: none;
}
img {
  border: 0px;
  vertical-align: bottom;
}
/* --------------------------------------------------- */
body {
  font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
  color: #3b4043;
}
h1 {
  font-size: 36px;
  margin: 24px;
}
h2 {
  font-size: 20px;
  margin: 10px 0;
}
p {
  text-align: left;
}
/* ---header--- */
header {
  width: 100%;
  height: 48px;
  background-color: #3b4043;
  position: fixed;
  z-index: 10;
}
@media screen and (max-width: 599px) {
  header {
    background-color: transparent;
  }
}
.header__pc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
@media screen and (max-width: 599px) {
  .header__pc {
    display: none;
  }
}
.header__text {
  color: #f2dbdb;
  font-size: 24px;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  header ul {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  header ul .sub-menu {
    text-align: left;
    margin: 10px 40px;
  }
}
header li {
  width: 20%;
  line-height: 24px;
  color: #ffffff;
  display: inline-block;
}
@media screen and (max-width: 599px) {
  header li {
    width: 100%;
  }
}
header li:hover {
  background-color: #6f7579;
  transition: 0.2s;
}
.drawer-hamburger {
  display: none;
}
@media screen and (max-width: 599px) {
  .drawer-hamburger {
    display: block;
  }
}
@media screen and (max-width: 599px) {
  .drawer-nav {
    background: #666;
    box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.12);
    z-index: 10;
  }
}
@media screen and (max-width: 599px) {
  .drawer-nav .drawer-menu-item {
    padding: 0;
  }
}
@media screen and (max-width: 599px) {
  .drawer-nav .drawer-menu-item > a {
    display: flex;
    padding: 1rem 1rem 1rem 2.5rem;
    padding: 1rem;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
}
#sec1-firstview .btn {
  display: inline-block;
  background-color: rgba(59, 64, 67, 0.8);
  border: 1px solid #6f7579;
  color: #ffffff;
  font-size: 16px;
  padding: 16px 55px;
  margin: 25px;
}
@media screen and (max-width: 599px) {
  #sec1-firstview .btn {
    width: 160px;
    margin: 8px;
  }
}
#sec1-firstview .btn:hover {
  background-color: #3b4043;
  color: #ffffff;
  border: 1px solid #3b4043;
}
/* TOPに戻るボタン */
.call_to_action {
  margin: 80px auto 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .call_to_action {
    margin: 50px auto 214px;
  }
}
.call_to_action__box {
  background-color: #F7CB07;
  color: black;
  width: 480px;
  height: 96px;
  border-radius: 8px;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 599px) {
  .call_to_action__box {
    width: 220px;
    height: 46px;
    border-radius: 32px;
  }
}
.call_to_action__text {
  margin: auto auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans JP";
  font-size: 48px;
  font-weight: bold;
  line-height: 2;
}
@media screen and (max-width: 599px) {
  .call_to_action__text {
    font-size: 21px;
    line-height: 1;
  }
}
.original-sidebar {
  width: 136px;
  background-color: #f2dbdb;
  padding: 96px 32px 32px;
}
@media screen and (max-width: 599px) {
  .original-sidebar {
    display: flex;
    display: none;
  }
}
.side {
  padding: 0 0 16px;
}
@media screen and (max-width: 599px) {
  .side {
    display: flex;
    display: none;
  }
}
.side__headline {
  margin: 10px 0;
}
.returnbox {
  position: fixed;
  bottom: 40px;
  right: 0px;
}
@media screen and (max-width: 599px) {
  .returnbox {
    position: fixed;
    bottom: 40px;
    right: 2%;
  }
}
.btn2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 36px;
  background-color: #f2dbdb;
  border-radius: 8px;
}
.btn2__text {
  font-family: Hiragino sans;
  font-size: 20px;
  font-weight: 500;
  color: #404040;
}
.btn2__logo {
  width: 24px;
  height: 13.5px;
}
.article {
  background: rgba(121, 179, 246, 0.46);
}
/* -front-page.php */
#sec1-title {
  color: #404040;
}
#sec1-title h1 {
  padding: 60px 0 0 0;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  #sec1-title h1 {
    padding: 0;
    margin: 0 auto;
  }
}
#sec1-title .text {
  display: flex;
  width: 70%;
  justify-content: center;
  margin: 16px auto;
  font-size: 24px;
}
.main {
  width: 100%;
  margin: 0 auto;
}
.main-flex {
  display: flex;
  flex-flow: column;
}
.top-wrap {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 40px;
}
@media screen and (max-width: 599px) {
  .top-wrap {
    padding: 50px 20px;
  }
}
.top-wrap p {
  text-align: center;
}
.top-card-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
}
@media screen and (max-width: 599px) {
  .top-card-wrap {
    display: block;
    width: 100%;
  }
}
.top-card {
  width: 325px;
  height: 235px;
  border-radius: 6px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  background-color: #f3f3f3;
  margin-bottom: 40px;
  margin-left: calc(((1100px - 975px) / 6));
  margin-right: calc(((1100px - 975px) / 6));
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .top-card {
    width: 100%;
    margin-bottom: 16px;
  }
}
.top-card__img {
  width: 100%;
  margin-bottom: 10px;
}
.top-card__txt {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  align-items: center;
}
.top-card p {
  font-size: 20px;
  width: 90%;
}
.office-card-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
}
@media screen and (max-width: 599px) {
  .office-card-wrap {
    display: block;
    width: 100%;
  }
}
.office-card {
  width: 325px;
  height: 235px;
  border-radius: 6px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  background-color: #f3f3f3;
  margin-bottom: 40px;
  margin-left: calc(((1100px - 975px) / 6));
  margin-right: calc(((1100px - 975px) / 6));
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
}
@media screen and (max-width: 599px) {
  .office-card {
    width: 100%;
    margin-bottom: 16px;
  }
}
.office-card__img {
  width: 100%;
  margin-bottom: 10px;
}
.office-card__txt {
  font-size: 16px;
  font-weight: bold;
  padding-left: 16px;
}
.detail-card__title {
  padding: 20px 10px 5px 5px;
}
.detail-card__box {
  box-shadow: 0px 5px 15px 0px rgba(0, 128, 0, 0.96);
}
.detail-wrap {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.detail-card-wrap {
  display: flex;
  padding-top: 80px;
  column-gap: 34px;
}
.detail_img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 40%;
}
.detail-card {
  display: flex;
  flex-flow: column;
  width: 500px;
  row-gap: 32px;
  margin-bottom: 32px;
}
.detail-card__box {
  border-bottom: 1px solid #A1A1A1;
  margin-bottom: 32px;
  background-color: #ffffff;
}
.detail-card__title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 32px;
}
.detail-card__txt {
  font-family: "Noto Sans JP";
  text-align: left;
  line-height: 1.5;
  margin-left: 15px;
}
.detail-card__txt__area {
  white-space: pre-wrap;
  margin-left: 15px;
}
/* ---searchform.php--- */
.search {
  max-width: 1100px;
  width: 60%;
  height: 90px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 16px;
}
#form {
  position: relative;
}
#s-box {
  height: 40px;
  padding: 0 10px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px;
  border: solid 3px #eaeaea;
  outline: 0;
}
#s-btn-area {
  height: 50px;
  position: absolute;
  left: 250px;
  top: 0;
  background: none;
  color: #666;
  border: none;
  font-size: 20px;
  outline: 0;
}
#s-btn {
  background-color: black;
  width: 50px;
  height: 30px;
  position: relative;
  right: 20px;
  bottom: 10px;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  line-height: 31px;
}
/* ---footer--- */
footer {
  height: 30px;
  line-height: 30px;
  background-color: #6f7579;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
footer .copyright {
  text-align: center;
}
#pagetop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 50px;
}
.outdoors-content {
  display: flex;
  width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 24px;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  .outdoors-content {
    width: 100%;
  }
}
.outdoors-card {
  width: 300px;
  background-color: #f3f3f3;
  border-radius: 6px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  padding: 8px;
}
@media screen and (max-width: 599px) {
  .outdoors-card {
    width: 90vw;
  }
}
.outdoors-card__img {
  width: 100%;
  margin-bottom: 12px;
}
.outdoors-card__txt {
  font-size: 16px;
  text-align: start;
}
.outdoors-single {
  width: 600px;
  background-color: #f3f3f3;
  border-radius: 6px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  margin-top: 40px;
  padding: 16px;
}
@media screen and (max-width: 599px) {
  .outdoors-single {
    width: 90%;
  }
}
.outdoors-single__img {
  width: 100%;
  margin-bottom: 20px;
}
.outdoors-single__txt {
  font-size: 14px;
  font-weight: bold;
  text-align: start;
}
.outdoors-single a {
  color: #0062ff;
}
.outdoors-single a:hover {
  /*マウスが上に乗っている状態*/
  color: #0062ff;
  text-decoration: underline;
}
.blogpost-form-wrap {
  margin: 0 auto;
  padding-top: 80px;
}
.thumb {
  text-align: center;
}
.thumb img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */