@charset "UTF-8";
html {
  overflow-y: scroll;
  /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
  /*Internet Explorerが独自に追加したプロパティ*/
  /*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}
/* リセットおまじない--------------------------------- */
body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
  margin: 0px;
  padding: 0px;
}
body {
  background: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
}
li {
  list-style: none;
}
a {
  outline: none;
  color: inherit;
  text-decoration: none;
}
img {
  border: 0px;
  vertical-align: bottom;
}
/* --------------------------------------------------- */
body {
  font-family: "Yu Gothic", 游ゴシック, YuGothic, "Noto Sans JP", "Hiragino Gothic ProN", "ヒラギノ角ゴ Pro W3", sans-serif;
  color: #3b4043;
}
h1 {
  font-size: 36px;
  margin: 24px;
  text-align: center;
}
h2 {
  font-size: 24px;
  margin: 16px 0 24px;
  text-align: center;
}
h3 {
  font-size: 20px;
  font-family: "Noto serif JP";
  margin: 16px 0 24px;
  text-align: center;
}
h4 {
  font-family: "Noto Serif JP";
}
p {
  text-align: left;
  font-family: "Noto Serif JP";
}
.pc-none {
  display: none;
}
@media screen and (max-width: 599px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  span {
    font-size: 12px;
  }
  .pc-none {
    display: block;
  }
  .mobile-none {
    display: none;
  }
}
/* ---header--- */
header {
  width: 100%;
  background-color: #3b4043;
  position: fixed;
  z-index: 10;
}
@media screen and (max-width: 599px) {
  header {
    background-color: transparent;
  }
}
.header__pc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
@media screen and (max-width: 599px) {
  .header__pc {
    display: none;
  }
}
.header .header-menu {
  display: flex;
  justify-content: space-around;
}
.header__text {
  color: #f2dbdb;
  font-size: 24px;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  header ul {
    display: block;
    width: 100%;
  }
}
header ul .sub-menu {
  display: block;
}
@media screen and (max-width: 599px) {
  header ul .sub-menu {
    text-align: left;
    margin: 0 20px;
  }
}
header li {
  width: 20%;
  line-height: 24px;
  color: #ffffff;
  display: inline-block;
}
@media screen and (max-width: 599px) {
  header li {
    width: 100%;
  }
}
header li:hover {
  background-color: #6f7579;
  transition: 0.2s;
}
.drawer-hamburger {
  display: none;
}
@media screen and (max-width: 599px) {
  .drawer-hamburger {
    display: block;
  }
}
@media screen and (max-width: 599px) {
  .drawer-nav {
    background: #666;
    box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.12);
    z-index: 10;
  }
}
@media screen and (max-width: 599px) {
  .drawer-nav .drawer-menu .menu-item {
    padding: 0;
  }
}
@media screen and (max-width: 599px) {
  .drawer-nav .drawer-menu .menu-item > a {
    display: flex;
    padding: 0.3rem 2.5rem 0.3rem 0.3rem;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
}
@media screen and (max-width: 599px) {
  .drawer-nav ul .sub-menu .menu-item > a {
    border: none;
  }
}
#sec1-firstview .btn {
  display: inline-block;
  background-color: rgba(59, 64, 67, 0.8);
  border: 1px solid #6f7579;
  color: #ffffff;
  font-size: 16px;
  padding: 16px 55px;
  margin: 25px;
}
@media screen and (max-width: 599px) {
  #sec1-firstview .btn {
    width: 160px;
    margin: 8px;
  }
}
#sec1-firstview .btn:hover {
  background-color: #3b4043;
  color: #ffffff;
  border: 1px solid #3b4043;
}
/* TOPに戻るボタン */
.call_to_action {
  margin: 80px auto 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .call_to_action {
    margin: 50px auto 214px;
  }
}
.call_to_action__box {
  background-color: #F7CB07;
  color: black;
  width: 480px;
  height: 96px;
  border-radius: 8px;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 599px) {
  .call_to_action__box {
    width: 220px;
    height: 46px;
    border-radius: 32px;
  }
}
.call_to_action__text {
  margin: auto auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans JP";
  font-size: 48px;
  font-weight: bold;
  line-height: 2;
}
@media screen and (max-width: 599px) {
  .call_to_action__text {
    font-size: 21px;
    line-height: 1;
  }
}
/* ---Contact--- */
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #404040;
  text-align: center;
  width: 100%;
  height: 40px;
  border: 1px solid #777777;
  border-radius: 10px;
}
.cta-single {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #404040;
  text-align: center;
  width: 100%;
  border: 1px solid #777777;
  border-radius: 10px;
}
.search .cta p {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 5px 15px;
  margin: initial;
  font-size: 1em;
  height: 32px;
}
@media screen and (max-width: 599px) {
  .search .cta p {
    font-size: 0.75em;
  }
}
.returnbox {
  position: fixed;
  bottom: 40px;
  right: 0px;
}
@media screen and (max-width: 599px) {
  .returnbox {
    position: fixed;
    bottom: 40px;
    right: 2%;
  }
}
.btn2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 36px;
  background-color: #f2dbdb;
  border-radius: 8px;
}
.btn2__text {
  font-family: Hiragino sans;
  font-size: 20px;
  font-weight: 500;
  color: #404040;
  margin: 0;
}
.btn2__logo {
  width: 24px;
  height: 13.5px;
}
/* ---トップページ検索ボックス--- */
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 40px;
  border: 1px solid #777777;
  border-radius: 10px;
}
.search-form input {
  width: 90%;
  height: 32px;
  text-align: center;
  padding: 5px 15px;
  border: none;
  box-sizing: border-box;
  font-size: 1em;
  outline: none;
}
@media screen and (max-width: 599px) {
  .search-form input {
    width: 200px;
  }
}
.search-form input::placeholder {
  color: #777777;
}
.search-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 45px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search-form button::after {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23777777'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: "";
}
/* ---サイドバー条件絞り込みボックス--- */
.original-sidebar {
  width: 136px;
  background-color: #f2dbdb;
  padding: 96px 32px 32px;
}
@media screen and (max-width: 599px) {
  .original-sidebar {
    display: flex;
    display: none;
  }
}
.side {
  padding: 0 0 16px;
}
@media screen and (max-width: 599px) {
  .side {
    display: flex;
    display: none;
  }
}
.side__headline {
  margin: 10px 0;
}
@media screen and (max-width: 599px) {
  .side__headline {
    margin: 0;
  }
}
.searchform {
  line-height: 1;
  position: relative;
  margin: 2em 0;
}
@media screen and (max-width: 599px) {
  .searchform {
    margin: 0.25em;
  }
}
.searchfield {
  box-sizing: border-box;
  width: 100%;
  padding: 0.75em;
  border: 1px solid #bbb;
  border-radius: 4px;
  background-color: #efefef;
  margin-bottom: 20px;
  font-size: 14px;
}
@media screen and (max-width: 599px) {
  .searchfield {
    margin-bottom: 8px;
    height: 36px;
  }
}
.searchsubmit {
  width: 50px;
  height: 40px;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: center;
  border: 1px solid #bbb;
  border-radius: 4px;
  background-color: transparent;
  color: #404040;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.searchsubmit:hover {
  background: #eee;
}
.search-submit {
  box-sizing: border-box;
  padding: 0.75em;
  border: 1px solid #bbb;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 50px;
  height: 40px;
  margin: 0 0 0 auto;
}
.search-submit button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search-submit:hover {
  background: #eee;
}
.search-submit button::after {
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23777777'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: "";
}
.article {
  background: rgba(121, 179, 246, 0.46);
  width: 100vw;
  height: 100%;
}
/* -front-page.php */
#sec1-title {
  color: #404040;
}
@media screen and (max-width: 599px) {
  #sec1-title {
    padding-top: 40px;
  }
}
#sec1-title h1 {
  padding: 60px 0 0 0;
  margin: 0 auto;
  font-family: "Noto Serif JP";
}
@media screen and (max-width: 599px) {
  #sec1-title h1 {
    padding: 0;
    margin: 0 auto;
  }
}
#sec1-title .text {
  display: flex;
  width: 70%;
  justify-content: center;
  margin: 0 auto;
  font-size: 24px;
}
/* main */
.main {
  width: 100%;
  margin: 0 auto;
}
.main-flex {
  display: flex;
  flex-direction: row-reverse;
}
.top-wrap {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 24px;
}
@media screen and (max-width: 599px) {
  .top-wrap {
    padding: 0 16px;
  }
}
.top-wrap-main {
  width: calc(100% - 200px);
}
@media screen and (max-width: 599px) {
  .top-wrap-main {
    width: 100%;
    padding: 0 20px;
  }
}
.top-wrap p {
  text-align: center;
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 40px;
}
@media screen and (max-width: 599px) {
  .top-wrap p {
    font-size: 18px;
  }
}
.top-wrap-main p {
  text-align: center;
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 40px;
}
@media screen and (max-width: 599px) {
  .top-wrap-main p {
    font-size: 18px;
  }
}
.top-card-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  .top-card-wrap {
    display: block;
    width: 100%;
  }
}
.top-card {
  width: 325px;
  height: 235px;
  border-radius: 6px;
  box-shadow: 0px 5px 15px 0px rgba(0, 128, 0, 0.96);
  background-color: #f3f3f3;
  margin-bottom: 40px;
  margin-left: calc(((1100px - 975px) / 6));
  margin-right: calc(((1100px - 975px) / 6));
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .top-card {
    width: 100%;
    margin-bottom: 16px;
    margin-left: inherit;
    margin-right: inherit;
    border-radius: 6px;
    box-shadow: 0px 4px 8px 0px rgba(0, 128, 0, 0.96);
  }
}
.top-card__title {
  font-size: 24px;
  margin-top: 40px;
}
.top-card p {
  font-size: 20px;
  width: 90%;
}
.top-card img {
  width: 30%;
  aspect-ratio: 1;
  margin-top: 16px;
}
/* 事業所一覧 archive-$slug.php */
.office-card-wrap {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  .office-card-wrap {
    display: block;
    width: 100%;
  }
}
.office-card {
  width: 325px;
  height: 235px;
  border-radius: 6px;
  box-shadow: 0px 5px 15px 0px rgba(0, 128, 0, 0.96);
  background-color: #f3f3f3;
  margin-bottom: 40px;
  margin-left: calc(((1100px - 975px) / 6));
  margin-right: calc(((1100px - 975px) / 6));
  display: flex;
  flex-flow: column;
  justify-content: center;
}
@media screen and (max-width: 599px) {
  .office-card {
    width: 100%;
    margin-bottom: 16px;
    margin-left: inherit;
    margin-right: inherit;
    border-radius: 6px;
    box-shadow: 0px 4px 8px 0px rgba(0, 128, 0, 0.96);
  }
}
.office-card__title {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  font-family: "Noto serif JP";
  padding-left: 12px;
  padding-right: 8px;
  line-height: 1.8;
}
@media screen and (max-width: 599px) {
  .office-card__title {
    padding-left: 8px;
    padding-right: 4px;
  }
}
.office-card__txt {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  font-family: "Noto serif JP";
  padding-left: 12px;
  padding-right: 8px;
  margin-bottom: 12px;
  line-height: 1.8;
}
@media screen and (max-width: 599px) {
  .office-card__txt {
    padding-left: 8px;
    padding-right: 4px;
  }
}
/* ---事業所詳細 single-$slug.php--- */
.detail-wrap {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.detail-card-wrap {
  display: flex;
  padding-top: 80px;
  column-gap: 34px;
}
@media screen and (max-width: 599px) {
  .detail-card-wrap {
    display: block;
    margin-top: 40px;
    padding: 0 16px;
  }
}
.detail-imgbox {
  width: 48%;
}
@media screen and (max-width: 599px) {
  .detail-imgbox {
    width: 98%;
    margin: 0 auto 20px;
  }
}
.detail-imgbox_img {
  width: 100%;
  aspect-ratio: 1;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}
.detail-card {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 500px;
  row-gap: 24px;
  margin-bottom: 8px;
}
@media screen and (max-width: 599px) {
  .detail-card {
    width: 100%;
  }
}
.detail-card__box {
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 5px 15px 0px rgba(0, 128, 0, 0.96);
}
@media screen and (max-width: 599px) {
  .detail-card__box {
    width: 98%;
    margin: 0 auto;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px rgba(0, 128, 0, 0.96);
  }
}
.detail-card__title {
  font-weight: 500;
  font-size: 20px;
}
@media screen and (max-width: 599px) {
  .detail-card__title {
    font-size: 16px;
  }
}
.detail-card__txt {
  font-family: "Noto Sans JP";
  text-align: left;
  line-height: 1.5;
  margin-left: 15px;
}
.detail-card__txt__area {
  white-space: pre-wrap;
  margin-left: 15px;
}
.detail-card a {
  color: #0062ff;
}
.detail-card a:hover {
  /*マウスが上に乗っている状態*/
  color: #0062ff;
  text-decoration: underline;
}
/* ---searchform.php--- */
.search {
  display: flex;
  flex-flow: column;
  max-width: 1100px;
  width: 43.5%;
  align-items: start;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0px 5px 15px 0px rgba(0, 128, 0, 0.96);
  background-color: #ffffff;
  margin: 0 auto;
  padding: 4px 16px;
  margin-bottom: 40px;
  font-size: 20px;
}
@media screen and (max-width: 599px) {
  .search {
    width: 90%;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px rgba(0, 128, 0, 0.96);
    margin-bottom: 16px;
  }
}
.search__text {
  font-size: 24px;
  margin: 16px 0;
}
@media screen and (max-width: 599px) {
  .search__text {
    font-size: 16px;
    margin: 12px 0;
  }
}
.search-single {
  display: flex;
  flex-flow: column;
  max-width: 1100px;
  width: 100%;
  align-items: start;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0px 5px 15px 0px rgba(0, 128, 0, 0.96);
  background-color: #ffffff;
  margin: 0 auto;
  padding: 4px 16px;
  font-size: 20px;
}
@media screen and (max-width: 599px) {
  .search-single {
    width: 90%;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px rgba(0, 128, 0, 0.96);
    margin-bottom: 16px;
  }
}
.search-single__text {
  font-size: 18px;
  margin: 4px 0;
}
@media screen and (max-width: 599px) {
  .search-single__text {
    font-size: 16px;
  }
}
/* ---header--- */
.header__pc {
  font-family: "Noto Serif JP";
  background-color: #fc9;
}
@media screen and (max-width: 599px) {
  .header__pc {
    display: none;
  }
}
.header__pc a {
  color: #404040;
  font-weight: bold;
}
.header__pc p {
  color: #404040;
  font-weight: bold;
}
/* ---footer--- */
footer {
  height: 30px;
  line-height: 30px;
  background-color: #6f7579;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
footer .copyright {
  text-align: center;
}
#pagetop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 50px;
}
.blogpost-form-wrap {
  margin: 0 auto;
  padding-top: 80px;
}
/*# sourceMappingURL=style.css.map */