@charset "UTF-8";
html {
  overflow-y: scroll;
  /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
  /*Internet Explorerが独自に追加したプロパティ*/
  /*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}
/* リセットおまじない--------------------------------- */
body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
  margin: 0px;
  padding: 0px;
}
body {
  background: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
}
li {
  list-style: none;
}
a {
  outline: none;
  color: inherit;
  text-decoration: none;
}
img {
  border: 0px;
  vertical-align: bottom;
}
/* --------------------------------------------------- */
body {
  font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
  color: #3b4043;
}
h1 {
  font-size: 36px;
  margin: 24px;
}
h2 {
  font-size: 20px;
  margin: 10px 0;
}
p {
  text-align: left;
}
/* ---header--- */
header {
  width: 100%;
  height: 48px;
  background-color: #3b4043;
  position: fixed;
  z-index: 10;
}
@media screen and (max-width: 599px) {
  header {
    background-color: transparent;
  }
}
.header__pc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
@media screen and (max-width: 599px) {
  .header__pc {
    display: none;
  }
}
.header__text {
  color: #f2dbdb;
  font-size: 24px;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  header ul {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  header ul .sub-menu {
    text-align: left;
    margin: 10px 40px;
  }
}
header li {
  width: 20%;
  line-height: 24px;
  color: #ffffff;
  display: inline-block;
}
@media screen and (max-width: 599px) {
  header li {
    width: 100%;
  }
}
header li:hover {
  background-color: #6f7579;
  transition: 0.2s;
}
.drawer-hamburger {
  display: none;
}
@media screen and (max-width: 599px) {
  .drawer-hamburger {
    display: block;
  }
}
@media screen and (max-width: 599px) {
  .drawer-nav {
    background: #666;
    box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.12);
    z-index: 10;
  }
}
@media screen and (max-width: 599px) {
  .drawer-nav .drawer-menu-item {
    padding: 0;
  }
}
@media screen and (max-width: 599px) {
  .drawer-nav .drawer-menu-item > a {
    display: flex;
    padding: 1rem 1rem 1rem 2.5rem;
    padding: 1rem;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
}
#sec1-firstview .btn {
  display: inline-block;
  background-color: rgba(59, 64, 67, 0.8);
  border: 1px solid #6f7579;
  color: #ffffff;
  font-size: 16px;
  padding: 16px 55px;
  margin: 25px;
}
@media screen and (max-width: 599px) {
  #sec1-firstview .btn {
    width: 160px;
    margin: 8px;
  }
}
#sec1-firstview .btn:hover {
  background-color: #3b4043;
  color: #ffffff;
  border: 1px solid #3b4043;
}
/* TOPに戻るボタン */
.call_to_action {
  margin: 80px auto 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .call_to_action {
    margin: 50px auto 214px;
  }
}
.call_to_action__box {
  background-color: #F7CB07;
  color: black;
  width: 480px;
  height: 96px;
  border-radius: 8px;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 599px) {
  .call_to_action__box {
    width: 220px;
    height: 46px;
    border-radius: 32px;
  }
}
.call_to_action__text {
  margin: auto auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans JP";
  font-size: 48px;
  font-weight: bold;
  line-height: 2;
}
@media screen and (max-width: 599px) {
  .call_to_action__text {
    font-size: 21px;
    line-height: 1;
  }
}
.original-sidebar {
  width: 136px;
  background-color: #f2dbdb;
  padding: 96px 32px 32px;
}
@media screen and (max-width: 599px) {
  .original-sidebar {
    display: flex;
    display: none;
  }
}
.side {
  padding: 0 0 16px;
}
@media screen and (max-width: 599px) {
  .side {
    display: flex;
    display: none;
  }
}
.side__headline {
  margin: 10px 0;
}
.returnbox {
  position: fixed;
  bottom: 40px;
  right: 0px;
}
@media screen and (max-width: 599px) {
  .returnbox {
    position: fixed;
    bottom: 40px;
    right: 2%;
  }
}
.btn2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 36px;
  background-color: #f2dbdb;
  border-radius: 8px;
}
.btn2__text {
  font-family: Hiragino sans;
  font-size: 20px;
  font-weight: 500;
  color: #404040;
}
.btn2__logo {
  width: 24px;
  height: 13.5px;
}
/* ---section1(first view)--- */
#sec1-firstview {
  height: 450px;
  padding: 40px 0;
  background: url(../img/aurora.jpg) no-repeat center center;
  background-size: cover;
  color: #ffffff;
}
#sec1-firstview h1 {
  padding: 55px 0 0 0;
}
@media screen and (max-width: 599px) {
  #sec1-firstview h1 {
    padding: 0;
    margin: 0 auto;
  }
}
#sec1-firstview p {
  width: 70%;
  margin: 20px auto;
  text-align: center;
}
.main {
  width: 100%;
  margin: 0 auto;
}
.outdoors-wrap {
  padding: 50px 40px;
}
@media screen and (max-width: 599px) {
  .outdoors-wrap {
    padding: 50px 20px;
  }
}
.outdoors-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 640px;
  margin: 36px auto 0;
  padding: 0 12px;
  background-color: #f3f3f3;
  border-radius: 6px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.outdoors-top__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 24px 0 12px 0;
  line-height: 1.5;
}
@media screen and (max-width: 599px) {
  .outdoors-top__content {
    width: 100%;
    margin: 0 auto;
  }
}
.outdoors-top__txt {
  font-weight: bold;
}
.outdoors-top__line {
  background-color: #5d5c5c;
  height: 0.8px;
  width: 288px;
}
@media screen and (max-width: 599px) {
  .outdoors-top__line {
    width: 90pw;
  }
}
.outdoors-top a:hover {
  /*マウスが上に乗っている状態*/
  color: #1767AC;
}
.main-flex {
  display: flex;
  flex-direction: row-reverse;
}
.top-wrap {
  width: calc(100% - 136px);
}
@media screen and (max-width: 599px) {
  .top-wrap {
    width: 100%;
  }
}
/* ---sec4(newblog)--- */
#sec4-newblog {
  padding: 50px 40px;
}
.blog-content {
  display: flex;
  width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 24px;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  .blog-content {
    display: block;
    width: 100%;
  }
}
.blog-card {
  width: 300px;
  background-color: #f3f3f3;
  border-radius: 6px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  padding: 8px;
}
@media screen and (max-width: 599px) {
  .blog-card {
    width: 100%;
    margin-bottom: 16px;
  }
}
.blog-card__img {
  width: 100%;
  margin-bottom: 10px;
}
.blog-card__txt {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  align-items: center;
}
/* ---footer--- */
footer {
  height: 30px;
  line-height: 30px;
  background-color: #6f7579;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
footer .copyright {
  text-align: center;
}
#pagetop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 50px;
}
.outdoors-content {
  display: flex;
  width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 24px;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  .outdoors-content {
    width: 100%;
  }
}
.outdoors-card {
  width: 300px;
  background-color: #f3f3f3;
  border-radius: 6px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  padding: 8px;
}
@media screen and (max-width: 599px) {
  .outdoors-card {
    width: 90vw;
  }
}
.outdoors-card__img {
  width: 100%;
  margin-bottom: 12px;
}
.outdoors-card__txt {
  font-size: 16px;
  text-align: start;
}
.outdoors-single {
  width: 600px;
  background-color: #f3f3f3;
  border-radius: 6px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  margin-top: 40px;
  padding: 16px;
}
@media screen and (max-width: 599px) {
  .outdoors-single {
    width: 90%;
  }
}
.outdoors-single__img {
  width: 100%;
  margin-bottom: 20px;
}
.outdoors-single__txt {
  font-size: 14px;
  font-weight: bold;
  text-align: start;
}
.outdoors-single a {
  color: #0062ff;
}
.outdoors-single a:hover {
  /*マウスが上に乗っている状態*/
  color: #0062ff;
  text-decoration: underline;
}
.ouchi-content {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  .ouchi-content {
    width: 100%;
  }
}
.table_list thead th {
  background: #d8ca0c;
  padding: 4px 32px 2px;
  border-bottom: #FFF solid 1px;
  color: #ffffff;
  font-size: 16px;
}
@media screen and (max-width: 599px) {
  .table_list thead th {
    display: none;
  }
}
.table_list tbody th {
  padding: 8px 8px;
  border-bottom: #ffffff solid 1px;
  vertical-align: middle;
}
@media screen and (max-width: 599px) {
  .table_list tbody th {
    display: block;
    border-bottom: 0px;
  }
}
.table_list tbody tr:last-child th {
  border-bottom: #FFF solid 1px;
}
.table_list tbody td {
  padding: 8px 16px;
  line-height: 1.2;
  vertical-align: middle;
}
@media screen and (max-width: 599px) {
  .table_list tbody td {
    display: block;
    line-height: 1;
    padding: 4px 16px;
  }
}
.table_list tbody tr:nth-child(even) {
  background-color: #eee;
}
@media screen and (max-width: 599px) {
  .table_list tbody tr:nth-child(odd) {
    background-color: #eee;
  }
}
td.table-photo {
  width: 10%;
  margin: auto;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 599px) {
  td.table-photo {
    margin: inherit;
    width: 100%;
  }
}
td.table-photo a {
  color: #1767AC;
}
td.table-photo a:hover {
  /*マウスが上に乗っている状態*/
  color: #1767AC;
  text-decoration: underline;
}
.oniwa-card {
  width: 200px;
  background-color: #f3f3f3;
  border-radius: 6px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  padding: 6px;
}
@media screen and (max-width: 599px) {
  .oniwa-card {
    width: 100%;
  }
}
.oniwa-card__title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.oniwa-card__img {
  width: 100%;
  margin-bottom: 8px;
}
.oniwa-card__txt {
  font-size: 14px;
  text-align: start;
}
.blogpost-form-wrap {
  margin: 0 auto;
  padding-top: 80px;
}
.thumb {
  text-align: center;
}
.thumb img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */